header {
  border-bottom: 1px solid #6A6363;
}
.container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 2rem;
  padding-bottom: 2rem;

}

.area-profile-txt{
  display: flex;
  align-items: center;
  gap: .5rem;

  color: #FFF;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 700;


}

.area-profile-txt img {
  width: 2.5rem;
  height: 2.5rem;

  border-radius: 2.5rem;
  border: 2px solid #6A6363;

}